@model website.Models.Promotion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
