<div class="lineup-players-list">
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Jose Dariel Abreu" },
        {"position", "1B" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "2B" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Jose Dariel Abreu" },
        {"position", "3B" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "SS" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "P" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "C" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "RF" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "CF" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
    @Html.Partial("_LiveLineUpPlayer", new ViewDataDictionary {
        { "name", "Yuliesky Gourriel" },
        {"position", "LF" },
        {"team", "HOU" },
        {"img", "/Content/Media/Images/players/default.png" },
        {"H", 2 * (int)@ViewData["lineup"] },
        {"2B", 1 * (int)@ViewData["lineup"] },
        {"3B", 0 * (int)@ViewData["lineup"] },
        {"Hr", 1 * (int)@ViewData["lineup"] },
        {"SB", 0 * (int)@ViewData["lineup"] },
        {"R", 1 * (int)@ViewData["lineup"] },
        {"RBI", 2 * (int)@ViewData["lineup"] }
    })
</div>