<div class="target flipper" title="@ViewData["name"]">
    <div>
        <div class="side front">
            <div class="icon sprite @ViewData["css-code"]"></div>
        </div>
        <div class="side back">
            @ViewData["short-name"]
        </div>
    </div>
    @if (!(bool)@ViewData["in_bar"])
    {
        <div>@ViewData["name"] (@ViewData["short-name"])</div>
    }
</div>