@model website.Models.LineUpViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contests)
        </dt>
        <dd>
            @foreach (var item in Model.Contests)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd>
            @foreach (var item in Model.Players)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
