@{
    Layout = "";
}

<div class="contest-details">
    <div class="left-bar">
        <div>
            <div class="contest-cap-wrapper">
                <div class="contest-cap">
                    <div class="objective-meter"></div>
                    <div class="front side">
                        @Html.Partial("_ContestCapItemFront")
                    </div>
                </div>
            </div>
            <div class="games">
                <h3>
                    Games
                </h3>
                <div class="games-list">
                    @for (int i = 0; i < 4; i++)
                    {
                        @Html.Partial("_MatchItemDetails", new ViewDataDictionary {
                            { "team1", "SEA" },
                            { "team2", "HOU" },
                            { "location", "SAFECO field" },
                            { "datetime", "10:01 pm" },
                            { "weather", "rain" }
                        })                        
                    }
                </div>
            </div>
            <div class="timer">
                <div class="digital">                
                    <div>
                        <span class="data-hours">01</span>:<span class="data-minutes">39</span>:<span class="data-seconds">22</span>
                    </div>
                </div>
                <div class="text-center">
                    Contest Countdown
                </div>
            </div>
        </div>        
    </div>
    <div class="info tab-view">
        <div class="header">
            <h1 class="tab active" data-target="#rules-tab">Rules & Scores</h1>
            <h1 class="tab" data-target="#prizes-tab">Prizes</h1>
            <h1 class="tab" data-target="#info-tab">Information</h1>
        </div>
        <div class="info-content">
            <div id="rules-tab" class="tab-content active">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Targets</h2>
                        <div class="targets">

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "b1"  },
                                            { "short-name", "1B" },
                                            { "name", "Hits" },
                                            { "in_bar", false }                                            
                                        })
                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "b2"  },
                                            { "short-name", "2B" },
                                            { "name", "Doubles" },
                                            { "in_bar", false }
                                        })

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "b3"  },
                                            { "short-name", "3B" },
                                            { "name", "Triples" },
                                            { "in_bar", false }
                                        })


                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "hr"  },
                                            { "short-name", "HR" },
                                            { "name", "Homeruns" },
                                            { "in_bar", false }
                                        })

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "sb"  },
                                            { "short-name", "SB" },
                                            { "name", "Stolen Bases" },
                                            { "in_bar", false }
                                        })

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "r"  },
                                            { "short-name", "R" },
                                            { "name", "Runs" },
                                            { "in_bar", false }
                                        })

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "rbi"  },
                                            { "short-name", "RBI" },
                                            { "name", "Runs Batter In" },
                                            { "in_bar", false }
                                        })

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "bb"  },
                                            { "short-name", "W" },
                                            { "name", "Walks" },
                                            { "in_bar", false }
                                        })

                            @Html.Partial("_Target", new ViewDataDictionary {
                                            { "css-code", "o"  },
                                            { "short-name", "K" },
                                            { "name", "Strikeouts" },
                                            { "in_bar", false }
                                        })

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2>Score</h2>
                        <div class="scores">
                            @Html.Partial("_TotalScore", new ViewDataDictionary {
                                { "id", "total-bar"  },
                                { "contestants", "100"  },
                                { "position", "80"  },
                                { "win-position", "50"  },
                                { "prize", "$0"  },
                                { "points", "1"  },
                                { "percent", "50"  },
                                { "time", "500"  }
                            })
                            <div class="separator"></div>
                            <div class="target-score">
                                @Html.Partial("_TargetScore", new ViewDataDictionary {
                                    { "id", "hits-bar"  },
                                    { "events", "9"  },
                                    { "completed-events", "0"  },
                                    { "css-code", "b1"  },
                                    { "short-name", "H" },
                                    { "name", "Hits" },
                                    { "time", "500"  }
                                })
                                @Html.Partial("_TargetScore", new ViewDataDictionary {
                                    { "id", "doubles-bar"  },
                                    { "events", "3"  },
                                    { "completed-events", "0"  },
                                    { "css-code", "b2"  },
                                    { "short-name", "2B" },
                                    { "name", "Doubles" },
                                    { "time", "500"  }
                                })
                            </div>
                        </div>
                    </div>
                </div>               

                <div class="target-points">

                </div>

            </div>
            <div id="prizes-tab" class="tab-content">

            </div>
            <div id="info-tab" class="tab-content">

            </div>

            <a href="#" class="load-on-modal-js">
                <div class="custom-btn-1">
                    Entry Line up
                </div>
            </a>
        </div>
    </div>
</div>