@model IEnumerable<website.Models.Contest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContestType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignedUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContestType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignedUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
