@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Promotions</h2>
        @foreach (var item in @ViewBag.Promotions)
        {
            <div>
                <span>@item.Name</span> | 
                <span>@item.PromotionContent</span> | 
                <span>
                    @Html.ActionLink("Ver Promoción", "ViewPromotion", new { id = item.Id })
                </span>
            </div>
        }
    </div>
    <div class="col-md-5">
    <h2>Notifications</h2>
        @foreach (var item in @ViewBag.Notifications)
        {
            <div>
                <span>@item.Name</span> |
                <span>@item.Content</span> |
                <span>
                    @Html.ActionLink("Ver Notificación", "ViewNotification", new { id = item.Id })
                </span>
            </div>
        }
    </div>
    <div class="col-md-2">
        <h2>Contest Types</h2>
        @foreach (var item in @ViewBag.ContestTypes)
        {
            <div>
                <div>@item.Type</div>
            </div>
        }
    </div>
</div>