@model website.Models.Contest

@{
    ViewBag.Title = "PartakeContest";
}

<h2>PartakeContest</h2>

<div class="container">
    <div class="row">
        <h3>@ViewBag.Contest.Name</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            @ViewBag.Contest.ContestType
        </div>
        <div class="col-md-4">
            $ @ViewBag.Contest.EntryFee
        </div>
        <div class="col-md-4">
            @ViewBag.Contest.SignedUp / @ViewBag.Contest.MaxCapacity
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6" style="text-align:right">
            <h3>@ViewBag.NextContextTime</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var item in @ViewBag.Contest.Games)
        {
            <div class="col-md-3">
                <div class="">
                    @item.Name
                </div>
                <div class="">
                    @item.HomeTeam vs @item.AwayTeam
                </div>
                <div>
                    @item.Wheather
                </div>
                <div>
                    Temp: @item.Temperture Deg
                </div>
                <div>
                    Hum: @item.Humidity %
                </div>
            </div>
        }
    </div>
</div>