@using website.Models
@model LoginViewModel

<div id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "auth-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Play Game</h4>        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">          
            <div class="custom-input-1">
                <div><span class="fa fa-user"></span></div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })            
        </div>
        <div class="form-group">                        
            <div class="custom-input-1">
                <div><span class="fa fa-lock"></span></div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>            
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })            
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>*@
        <div class="form-group">            
            <input type="submit" value="Log in" class="btn btn-default" />            
        </div>
        <div class="form-group">
            <a href="@Url.Action("Register", "Account")">
                <div class="btn btn-default">Register</div>
            </a>
        </div>        
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</div>
@*<dvi id="socialLoginForm">
    @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</dvi>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}